<div class="container">
  <div class="row">
  <h1 class="text-center">Main Control</h1>
    <div class="col-md-4">
      <h3 class="text-center">
        Items <%= link_to "New Item", new_item_path, class: "btn btn-primary bt-sm"  %>
      </h3>
      <table class="table table-condensed">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Available</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, item_path(item) %></td>
              <td><%= item.availability %></td>
              <td><%= link_to "Edit", edit_item_path(item) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">
        Votes
      </h3>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">
        Sales
      </h3>
    </div>
  </div>
</div>